@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
 
:root {
  --primary-color: #4EA685;
  --secondary-color: #57B894;
  --black: #000000;
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  position: center;
  min-height: 100vh;
  overflow: hidden;
  margin-top: 80px;
}

.row {
  flex-wrap: wrap;
  height: 100vh;
}

.col {
  width: 50%;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-wrapper {
  width: 100%;
  max-width: 28rem;
}

.form {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}

.input-group {
  position: relative;
  width: 100%;
  margin: 1rem 0;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: var(--gray-2);
}

.input-group input {
  width: 300px;
  padding: 1rem 3rem;
  font-size: 1rem;
  background-color: var(--gray);
  border-radius: .5rem;
  border: 0.125rem solid var(--white);
  outline: none;
}

.input-group input:focus {
  border: 0.125rem solid var(--primary-color);
}

.form button {
  cursor: pointer;
  width: 100%;
  padding: .6rem 0;
  border-radius: .5rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.2rem;
  outline: none;
  margin-top: 30px;
}

.form p {
  margin: 1rem 0;
  font-size: .7rem;
}

.flex-col {
  flex-direction: column;
}

.social-list {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.social-list>div {
  color: var(--white);
  margin: 0 .5rem;
  padding: .7rem;
  cursor: pointer;
  border-radius: .5rem;
  cursor: pointer;
 
}

.social-list>div>i {
  font-size: 1.5rem;
}

.pointer {
  cursor: pointer;
}


.content-row {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 6;
  width: 100%;
}

.text {
  margin: 4rem;
  color: var(--white);
}

.text h2 {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 2rem 0;
  color: #4EA685;
}

.text p {
  font-weight: 600;
 
}

.img img {
  width: 30vw;

}


  .content-row {
      align-items: flex-start !important;
  }

  .content-row .col {
      transform: translateY(0);
      background-color: unset;
  }

  .col {
      width: 100%;
      position: absolute;
      padding: 2rem;
      background-color: var(--white);
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    
  }

  .row {
      align-items: flex-end;
      justify-content: flex-end;
  }

  .form,
  .social-list {
      box-shadow: none;
      margin: 0;
      padding: 0;
  }

  .text {
      margin: 0;
  }

  .text p {
      display: none;
  }

  .text h2 {
      margin: .5rem;
      font-size: 2rem;
  }


